<div class="row mt-4">

  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de Usuário</h1>
      <img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400">
    </div>
  </div>

  <div class="col-md-6">

    <form class="p-1" [formGroup]="form">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control" placeholder="Insira o Primeiro nome" formControlName="primeiroNome"
                 [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}" />
        </div>
        <div class="invalid-feedback" [ngClass]="{'d-block': f.primeiroNome.hasError('required') && f.primeiroNome.touched}">
          Primeiro nome é obrigatorio
        </div>
        <div class="invalid-feedback" [ngClass]="{'d-block': f.primeiroNome.hasError('minlength') || f.primeiroNome.hasError('maxlength')}">
          Deve ter entre 2 e 50 caracteres
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control" placeholder="Insira o Último nome" formControlName="ultimoNome"
                 [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}"/>
        </div>
        <div class="invalid-feedback" [ngClass]="{'d-block': f.ultimoNome.hasError('required') && f.ultimoNome.touched}">
          Ultimo nome é obrigatorio
        </div>
        <div class="invalid-feedback" [ngClass]="{'d-block': f.ultimoNome.hasError('minlength') || f.ultimoNome.hasError('maxlength')}">
          Deve ter entre 2 e 50 caracteres
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text" placeholder="Insira o Nome Completo" formControlName="email"
               [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" />
        <div class="invalid-feedback" *ngIf="(f.email.hasError('required') || f.email.hasError('email')) && f.email.touched">
          Entre com um email válido
        </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control" type="text" placeholder="Insira o nome de Usuário" formControlName="usuario"
               [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}"/>
      </div>
        <div class="invalid-feedback" [ngClass]="{'d-block': f.usuario.hasError('required') && f.usuario.touched}">
          Usuario é obrigatorio
        </div>
        <div class="invalid-feedback" [ngClass]="{'d-block': f.usuario.hasError('minlength') || f.usuario.hasError('maxlength')}">
          Deve ter entre 2 e 50 caracteres
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="">Senha:</label>
            <input class="form-control" type="password" placeholder="Digite uma Senha" formControlName="senha"
                   [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched}" />
          </div>
          <div class="invalid-feedback" [ngClass]="{'d-block': f.senha.hasError('required') && f.senha.touched}">
            Senha é obrigatorio
          </div>
          <div class="invalid-feedback" [ngClass]="{'d-block': f.senha.hasError('minlength') || f.senha.hasError('maxlength')}">
            Deve ter entre 6 e 50 caracteres
          </div>
          <div class="form-group col-sm-6">
            <label for="">Confirmar Senha:</label>
            <input class="form-control" type="password" placeholder="Confirme a Senha" formControlName="confirmarSenha"
                   [ngClass]="{'is-invalid': f.confirmarSenha.errors && f.confirmarSenha.touched}" />
          </div>
          <div class="invalid-feedback" [ngClass]="{'d-block': f.confirmarSenha.hasError('mustMatch')}">
            Confirmação de senha incorreta
          </div>
        </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

  </div>
</div>
